.wrapper {
    margin: 5% auto;
    background-color: #31445A;
    color: white;
    border-radius: 10px;
    padding: 2% 4%;
    max-width: 480px;
}

.wrapper-2{
    margin: 5% auto;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    padding: 2% 4%;
    max-width: 480px;
}

.showcase {
    text-align: center;
}